@font-face {
    font-family: "Pixeled";
    src: url('../fonts/Pixeled.ttf');
}
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Pixeled';
    color: white;
}
body{
    background-color: #223f73;
    height: 100%;
}
footer{
    position: absolute;
    bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
h1{
    font-size: 2rem;
}
p{
    font-size: 1rem;
}
