{% extends "basic.html" %}
{% block content %}

<header>
  <h1 style="text-align: center;">Upload a picture of a plant</h1>
</header>

<section>
  <img id="preview" style="height: 350px; max-width: 90%; object-fit: cover; opacity: 1;"/>
  <form action="process" method = "POST" enctype = "multipart/form-data" style="padding-top: 2rem;">
    
    <input type="file" name="file" accept="image/*" onchange="previewImage(event)" onclick="fillForm"/>
    <input name="lat" id="lat" style="display: none;"/>
    <input name="lng" id="lng" style="display: none;"/>

    <script>
      const previewImage = e => {
          const preview = document.getElementById('preview');
          preview.src = URL.createObjectURL(e.target.files[0]);
          preview.onload = () => URL.revokeObjectURL(preview.src);
          document.getElementById('previewblock').setAttribute('display', 'none');
      };
    </script>

    <input type="submit" onclick="fillForm" style="background: rgb(79, 143, 106);" value="Submit"/>
  </form>   

</section>

<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}

