{% extends "basic.html" %}
{% block includes %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/text.css') }}"/>
{% endblock %}
{% block content %}


<section class="pixel-border">
  <h1>Welcome!</h1>
  <p>
    This game was created as part of Quantum AI Foudation's Quantum Games Hackathon 2021.
  </p>
  <p>
    <b style="color: cornflowerblue">Objective:</b>
    Don't let the Qubits fall to the ground. <br/>Shoot them down instead.
    But beware - watch out for sneaky quantum gates!
  </p>

  <form action="introduction_next">
    <input type="Submit" class="submit_button" value="I'm ready!">
  </form>

</section>

{% endblock %}

